*{
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, hsl(248, 17%, 9%), hsl(255, 22%, 4%));
}

main{
    display: flex;
    flex-direction: column;
    width: 343px;
    h1{
        align-self: center;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 0px;
        color: hsl(251, 9%, 53%);
        margin-bottom: 16px;
        transform: translate(0, 1px);
    }
    #passForm{
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        padding: 16px;
        
        h1{
            width: 200px;
            background-color: transparent;
            border: none;
            color: hsl(248, 5%, 34%);
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;
            letter-spacing: 0px;
            align-content: center;
            margin-bottom: 0px;
        }
        #copyMsg{
            color: hsl(127, 100%, 82%);
            background-color: hsl(248, 10%, 15%);
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            letter-spacing: 0px;
            align-self: center;
        }
        svg{
            display: flex;
            width: 17.5px;
            height: 20px;
            align-self: center;
            fill: hsl(127, 100%, 82%);
        }
        svg:hover{
            cursor: pointer;
            fill: hsl(0, 100%, 100%);
        }
    }

    #lengthErrorAlertMsg{
        height: 0px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0px;
        color: hsl(0, 91%, 63%);
        transform: translateY(-18px);
        align-self: flex-end;
    }

    #passPropsForm{
        display: flex;
        flex-direction: column;
            height: 391px;
            justify-content: space-between;
        }

    form{
        padding: 16px;
        background-color: hsl(248, 10%, 15%);
        label{
            color: hsl(252, 11%, 91%);
            font-size: 16px;
            /* font-weight: bold; */
            line-height: 20px;
            letter-spacing: 0px;
            align-self: center;
        }
        #passwordContainer{
            display: flex;
            flex-direction: column;
            margin-bottom: 43px;
            div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 17px;
                label{
                    transform: translate(0, 1px);
                }
                span{
                    padding-right: 12px;
                }
                #passLength{
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 32px;
                    letter-spacing: 0px;
                    color: hsl(127, 100%, 82%);
                    transform: translate(0, 1px);
                }
            }
            .customSlider {
                -webkit-appearance: none;
                appearance: none;
                width: 311px;
                height: 8px;
                background-color: hsl(248, 15%, 11%);
                transform: translate(0, 1px);
            }

            .customSlider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 28px;
                height: 28px;
                background: hsl(252, 11%, 91%);
                cursor: pointer;
                border-radius: 50%;
                margin-top: 0px;
            }
            .customSlider:focus {
                outline: none; /* Remove default focus outline (consider adding a custom one for accessibility) */
            }
            .customSlider::-webkit-slider-thumb:hover {
                background-color: hsl(248, 15%, 11%);
                border: 2px solid hsl(127, 100%, 82%);
            }   
        }
        #checkboxesContainer{
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 15px;
            label{
                display: flex;
                gap: 20px;
            }
            .customCheckBox{
                height: 21px;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0px;
                align-content: flex-end;
            }
            .customCheckBox input {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border: 0.15em solid hsl(252, 11%, 91%);
                display: grid;
                place-content: center;
            }
            .customCheckBox input::before {
                content: "";
                /* width: 0.65em;
                height: 0.65em; */
                /* transform: scale(0); */
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em hsl(248, 15%, 11%);
            
            }

            .customCheckBox.errorMsg input {
                border: 0.15em solid hsl(0, 91%, 63%);
            }
            /* .customCheckBox input:checked::before {
                transform: scale(1);
            } */

            .customCheckBox input:checked {
                
                background-color:  hsl(127, 100%, 82%);
                border-color: hsl(127, 100%, 82%);
                background-image: url('./assets/images/icon-check.svg');
                background-repeat: no-repeat;
                background-position: center;
                
            }

            .customCheckBox input:hover{
                cursor: pointer;
                border: 2px solid hsl(127, 100%, 82%);
            }
            #checkboxUnselectedErrorMsg{
                height: 0px;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0px;
                color: hsl(0, 91%, 63%);
                transform: translateY(-8px);
                align-self: flex-start;
            }
        }
        #strengthContainer{
            display: flex;
            padding: 14px 16px;
            text-transform: uppercase;
            background-color: hsl(248, 15%, 11%);
            margin-bottom: 16px;
            justify-content: space-between;
            height: 28px;
            h1{
                margin-bottom: 0;
            }
            #passwordStrengthStatus{
                display: flex;
                gap: 8px;
                div{
                    border: 2px solid hsl(252, 11%, 91%);
                    width: 6px;
                    height: 24px;
                }
                #passPower{
                    color: hsl(252, 11%, 91%);
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0px;
                    align-self: center;
                }
                .tooWeak{
                    background-color: hsl(0, 91%, 63%);
                    border: 2px solid hsl(0, 91%, 63%);
                }
                .weak{
                    background-color: hsl(13, 95%, 66%);
                    border: 2px solid hsl(13, 95%, 66%);
                }
                .medium{
                    background-color: hsl(42, 91%, 68%);
                    border: 2px solid hsl(42, 91%, 68%);
                }
                .strong{
                    background-color: hsl(127, 100%, 82%);
                    border: 2px solid hsl(127, 100%, 82%);
                }
            }
        }
        button{
            gap: 16px;
            width: 311px;
            height: 56px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            letter-spacing: 0px;
            background-color: hsl(127, 100%, 82%);
            border: none;
            color: hsl(248, 10%, 15%);
            svg{
                margin-left: 16px;
                width: 11.11px;
                height: 12px;
                fill:  hsl(248, 10%, 15%);
            }
        }
        button:hover{
            background-color: hsl(248, 10%, 15%);
            color: hsl(127, 100%, 82%);
            border: 2px solid hsl(127, 100%, 82%);
            cursor: pointer;
            svg{
                fill: hsl(127, 100%, 82%);
            }
        }
    }
}

@media (min-width: 768px){
    main{
        width: 540px;
        h1{
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 32px;
            transform: translate(0, 1px);
        }
        #passForm{
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            padding: 16px 32px;
            height: 48px;
            
            h1{
                width: 370px;
                font-size: 32px;
                line-height: 42px;
                margin-bottom: 0px;
            }
            
            svg{
                width: 21px;
                height: 24px;
            }
        }

        #lengthErrorAlertMsg{
            font-size: 14px;
            transform: translateY(-22px);
        }

        #passPropsForm{
            height: 480px;
            justify-content: unset;   
        }

        form{
            padding: 24px 32px;
            label{
                font-size: 18px;
                font-weight: bold;
                line-height: 24px;
            }
            #passwordContainer{
                margin-bottom: 42px;
                div{
                    margin-bottom: 26px;
                    label{
                        transform: translate(0, 0px);
                    }
                    span{
                        padding-right: 12px;
                    }
                    #passLength{
                        font-size: 32px;
                        line-height: 42px;
                        transform: translate(0, 0px);
                        padding: 0;
                    }
                }
                .customSlider {
                    width: 476px;
                    transform: translate(0, 0px);
                }
            }
            #checkboxesContainer{
                margin-bottom: 16px;
                label{
                    display: flex;
                    gap: 25px;
                }
                .customCheckBox{
                    height: 24px;
                    font-size: 18px;
                    line-height: 24px;
                    align-items: center;
                }
                #checkboxUnselectedErrorMsg{
                    font-size: 14px;
                    transform: translateY(-10px);
                }
            }
            #strengthContainer{
                padding: 16px 32px;
                height: 40px;
                margin-bottom: 32px;
                h1{
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0px;
                    margin-bottom: 0;
                    transform: translateY(0px);
                }
                #passwordStrengthStatus{
                    align-items: center;
                    #passPower{
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: bold;
                        transform: translateY(1px);
                        margin-right: 8.1px;
                    }
                }
            }
            button{
                width: 476px;
                height: 65px;
                font-size: 18px;
                line-height: 24px;
                svg{
                    margin-left: 23.11px;
                    width: 11.11px;
                    height: 12px;
                }
            }
        }
    }
}